[user]
    name = Richard O'Dwyer
    email = richard@richard.do

[alias]
    st = status
    rpull = rebase --merge
    ok = !git add . && git commit --amend --no-edit && git push -f
    cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
    br = branch
    ch = checkout
    reb = rebase
    res = reset
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
        showtool = "!showci () { rev=${1:-HEAD}; git difftool --dir-diff $rev~1 $rev; }; showci $1"

[push]
    default = current

[remote "origin"]
    fetch = +refs/pull/*/head:refs/pull/origin/*

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[core]
    editor = nano
    excludesfile = ~/.gitignore

[merge]
    tool = araxis

[diff]
    tool = araxis

[difftool "araxis"]
    path = "/Applications/Araxis Merge.app/Contents/Utilities/compare"

[mergetool "araxis"]
    path = "/Applications/Araxis Merge.app/Contents/Utilities/compare"
    trustExitCode = true
    keepBackup = false
