[user]
	name = Richard O'Dwyer
	email = richard.odwyer@hogarthww.com

[alias]
	st = status
	rpull = rebase --merge
	br = branch
	ch = checkout
	reb = rebase
	res = reset
	lol = log --graph --decorate --pretty=oneline --abbrev-commit

[push]
	default = current

[remote "origin"]
	fetch = +refs/pull/*/head:refs/pull/origin/*

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[core]
	editor = nano
	excludesfile = ~/.gitignore
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
